*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #cfc535;
    display: grid;
    place-items: center;
}
form{
    background-color: #34ecaf;
    padding: 80px;
    width: 50%;
    margin: 100px auto;
   
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #077752;
    -moz-box-shadow: 0 10px 6px -6px #077752;
    box-shadow: 0 10px 6px -6px #077752;

}
#tempCals label {
    font-size: 30px;
}
#temp{
    border: none;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
}
#temp_diff{
    height: 40px;
    border: none;
    margin: 20px;
    font-size: 15px;
    vertical-align: top;
}
[type="submit"]{
    height: 35px;
    margin: 20px;
    width: 100px;
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
}